@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

:root{
    --main-bg-color: #2874f0;
}
*{ 
    padding: 0;
    margin: 0;
}
header{
    
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;

}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;

}
.logo img{
    width: 88px;
    padding: 0 25px;
}
nav ul{
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    color: rgb(222, 233, 231);
    font-weight: bold;

}

.search{
    display: flex;
    align-items: center;
}

.search input{
    width: 393px;
    height: 27px;
    border-radius: 5px;
    margin: 0 12px;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
.slider{
    width: 80vw;
    margin: 12px auto;
}
.slider img{
    width: 100%;
}

.card{
    max-width: 91vw;
    margin: auto;
}
 .cards{
     display: flex;
     overflow: hidden;
 }
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}
footer{
    height: 12vh;
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}